
{% extends "admin/base_site.html" %}

{% block title %}
    Duellen - {{ block.super }}
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

<style>
  body{
    background-color: #f8f8f8;
  }
  .content{
    width: 55%;
    float:left;
    background-color: #fff;
    padding: 15px;
  }

  #different_height{
    height: 120px;
  }

  #id_description{
    height: 100px;
  }

  .hint{
    height: 70px;
  }

  .fieldWrapper{
    height: 40px;
    padding: 25px 90px 25px 10px
  }

  .fieldWrapper label{
    font-weight: bold;
  }

  .fieldWrapper input{
    width: 380px;
    float: right;
    vertical-align: text-top;
  }
  .sidebar{
    width: 30%;
    right: 0;
    position: fixed;
    margin-right: 30px;
    background-color: #fff;
    padding: 20px;
  }
  .wiki{
    background-color: #f8f8f8;
  }

  .wiki h2, .wiki p{
    padding-left: 20px;
    padding-top: 10px;
  }

  #wikisearch, #output{
    margin: 20px;
  }
  .publicering input{
    margin-left: 20px;
  }
  .publicering_fields{
    padding: 15px;
  }
  #savebutton{
    float: right;
    margin-bottom: 15px;
  }

</style>

    <div class="content">

        <h1>Skapa Duellen</h1>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
                {{ form.non_field_errors }}
                <div class="fieldWrapper">
                  <label for="id_title">Titel</label>
                  {{ form.title.errors }}
                  <input type="text" id="id_title" name="title">
                  <p>Titeln för veckans duell</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="id_description">Quiz Intro</label>
                  <input type="text" id="id_description" name="description">
                  <p>Kort intro text</p>
                </div>
                <div class="fieldWrapper">
                  <label for="id_sponsor">Sponsor</label>
                  <input type="text" id="id_sponsor" name="sponsor">
                  <p>Veckans sponsor</p>
                </div>
                <div class="fieldWrapper">
                  <label for="id_price">Vinst</label>
                  <input type="text" id="id_price" name="price">
                  <p>Veckans vinst</p>
                </div>

                <br><h1 style="background-color: #79aec8; padding: 10px; color: #fff;"><b>Spelare</b></h1><br>

                    <div class="fieldWrapper">
                      <label for="id_player1">Spelare 1</label>
                      <input type="text" id="id_player1" name="player1">
                      <p>Namn på spelare 1</p>
                    </div>

                    <div class="fieldWrapper">
                      <label for="id_player1_img">Bild</label>
                      <input type="file" id="id_player1_img" name="player1_img">
                      <p>Bild spelare 1</p>
                    </div>
                    <div class="fieldWrapper">
                      <label for="id_player1_score">Poäng</label>
                      <input type="number" id="id_player1_score" name="player1_score">
                      <p>Poäng för spelare 1</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper">
                      <label for="id_player2">Spelare 2</label>
                      <input type="text" id="id_player2" name="player2">
                      <p>Namn på spelare 2</p>
                    </div>

                    <div class="fieldWrapper">
                      <label for="id_player2_img">Bild</label>
                      <input type="file" id="id_player2_img" name="player2_img">
                      <p>Bild spelare 2</p>
                    </div>
                    <div class="fieldWrapper">
                      <label for="id_player2_score">Poäng</label>
                      <input type="number" id="id_player2_score" name="player2_score">
                      <p>Poäng för spelare 2</p>
                    </div>




                <br><h1 style="background-color: #79aec8; padding: 10px; color: #fff;"><b>Fråga 1</b></h1><br>

                    <div class="fieldWrapper">
                      <label for="id_first_category">Kategori</label>
                      <input type="text" id="id_first_category" name="first_category">
                      <p>Kategori, tex. Mat & Dryck.</p>
                    </div>
                    <hr>

                    <div class="fieldWrapper">
                      <label for="id_first_question">Fråga</label>
                      <input type="text" id="id_first_question" name="first_question">
                      <p>Fråga, det vi söker efter. Tex En frukt.</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper">
                      <label for="id_first_answer">Svar</label>
                      <input type="text" id="id_first_answer" name="first_answer" class="searchbox" value="{{first_answer}}" >
                      <p>Svaret på frågan.</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_first_hint5">Ledtråd</label>
                      <input type="text" id="id_first_hint5" name="first_hint5" class="hint">
                      <p>5 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_first_hint4">Ledtråd</label>
                      <input type="text" id="id_first_hint4" name="first_hint4" class="hint">
                      <p>4 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_first_hint3">Ledtråd</label>
                      <input type="text" id="id_first_hint3" name="first_hint3" class="hint">
                      <p>3 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_first_hint2">Ledtråd</label>
                      <input type="text" id="id_first_hint2" name="first_hint2" class="hint">
                      <p>2 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_first_hint1">Ledtråd</label>
                      <input type="text" id="id_first_hint1" name="first_hint1" class="hint">
                      <p>1 poängs ledtråd</p>
                    </div>

                <br><h1 style="background-color: #79aec8; padding: 10px; color: #fff;"><b>Fråga 2</b></h1><br>

                    <div class="fieldWrapper">
                      <label for="id_second_category">Kategori</label>
                      <input type="text" id="id_second_category" name="second_category">
                      <p>Kategori, tex. Mat & Dryck.</p>
                    </div>
                    <hr>

                    <div class="fieldWrapper">
                      <label for="id_second_question">Fråga</label>
                      <input type="text" id="id_second_question" name="second_question">
                      <p>Fråga, det vi söker efter. Tex En frukt.</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper">
                      <label for="id_second_answer">Svar</label>
                      <input type="text" id="id_second_answer" name="second_answer" class="searchbox" value="{{second_answer}}">
                      <p>Svaret på frågan.</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_second_hint5">Ledtråd</label>
                      <input type="text" id="id_second_hint5" name="second_hint5" class="hint">
                      <p>5 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_second_hint4">Ledtråd</label>
                      <input type="text" id="id_second_hint4" name="second_hint4" class="hint">
                      <p>4 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_second_hint3">Ledtråd</label>
                      <input type="text" id="id_second_hint3" name="second_hint3" class="hint">
                      <p>3 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_second_hint2">Ledtråd</label>
                      <input type="text" id="id_second_hint2" name="second_hint2" class="hint">
                      <p>2 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_second_hint1">Ledtråd</label>
                      <input type="text" id="id_second_hint1" name="second_hint1" class="hint">
                      <p>1 poängs ledtråd</p>
                    </div>

              <br><h1 style="background-color: #79aec8; padding: 10px; color: #fff;"><b>Fråga 3</b></h1><br>

                    <div class="fieldWrapper">
                      <label for="id_third_category">Kategori</label>
                      <input type="text" id="id_third_category" name="third_category">
                      <p>Kategori, tex. Mat & Dryck.</p>
                    </div>
                    <hr>

                    <div class="fieldWrapper">
                      <label for="id_third_question">Fråga</label>
                      <input type="text" id="id_third_question" name="third_question">
                      <p>Fråga, det vi söker efter. Tex En frukt.</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper">
                      <label for="id_third_answer">Svar</label>
                      <input type="text" id="id_third_answer" name="third_answer" class="searchbox" value="{{third_answer}}">
                      <p>Svaret på frågan.</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_third_hint5">Ledtråd</label>
                      <input type="text" id="id_third_hint5" name="third_hint5" class="hint">
                      <p>5 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_third_hint4">Ledtråd</label>
                      <input type="text" id="id_third_hint4" name="third_hint4" class="hint">
                      <p>4 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_third_hint3">Ledtråd</label>
                      <input type="text" id="id_third_hint3" name="third_hint3" class="hint">
                      <p>3 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_third_hint2">Ledtråd</label>
                      <input type="text" id="id_third_hint2" name="third_hint2" class="hint">
                      <p>2 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_third_hint1">Ledtråd</label>
                      <input type="text" id="id_third_hint1" name="third_hint1" class="hint">
                      <p>1 poängs ledtråd</p>
                    </div>

                <br><h1 style="background-color: #79aec8; padding: 10px; color: #fff;"><b>Fråga 4</b></h1><br>

                    <div class="fieldWrapper">
                      <label for="id_fourth_category">Kategori</label>
                      <input type="text" id="id_fourth_category" name="fourth_category">
                      <p>Kategori, tex. Mat & Dryck.</p>
                    </div>
                    <hr>

                    <div class="fieldWrapper">
                      <label for="id_fourth_question">Fråga</label>
                      <input type="text" id="id_fourth_question" name="fourth_question">
                      <p>Fråga, det vi söker efter. Tex En frukt.</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper">
                      <label for="id_fourth_answer">Svar</label>
                      <input type="text" id="id_fourth_answer" name="fourth_answer" class="searchbox" value="{{fourth_answer}}">
                      <p>Svaret på frågan.</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_fourth_hint5">Ledtråd</label>
                      <input type="text" id="id_fourth_hint5" name="fourth_hint5" class="hint">
                      <p>5 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_fourth_hint4">Ledtråd</label>
                      <input type="text" id="id_fourth_hint4" name="fourth_hint4" class="hint">
                      <p>4 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_fourth_hint3">Ledtråd</label>
                      <input type="text" id="id_fourth_hint3" name="fourth_hint3" class="hint">
                      <p>3 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_fourth_hint2">Ledtråd</label>
                      <input type="text" id="id_fourth_hint2" name="fourth_hint2" class="hint">
                      <p>2 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_fourth_hint1">Ledtråd</label>
                      <input type="text" id="id_fourth_hint1" name="fourth_hint1" class="hint">
                      <p>1 poängs ledtråd</p>
                    </div>

                <br><h1 style="background-color: #79aec8; padding: 10px; color: #fff;"><b>Fråga 5</b></h1><br>

                    <div class="fieldWrapper">
                      <label for="id_fifth_category">Kategori</label>
                      <input type="text" id="id_fifth_category" name="fifth_category">
                      <p>Kategori, tex. Mat & Dryck.</p>
                    </div>
                    <hr>

                    <div class="fieldWrapper">
                      <label for="id_fifth_question">Fråga</label>
                      <input type="text" id="id_fifth_question" name="fifth_question">
                      <p>Fråga, det vi söker efter. Tex En frukt.</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper">
                      <label for="id_fifth_answer">Svar</label>
                      <input type="text" id="id_fifth_answer" name="fifth_answer" class="searchbox" value="{{fifth_answer}}">
                      <p>Svaret på frågan.</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_fifth_hint5">Ledtråd</label>
                      <input type="text" id="id_fifth_hint5" name="fifth_hint5" class="hint">
                      <p>5 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_fifth_hint4">Ledtråd</label>
                      <input type="text" id="id_fifth_hint4" name="fifth_hint4" class="hint">
                      <p>4 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_fifth_hint3">Ledtråd</label>
                      <input type="text" id="id_fifth_hint3" name="fifth_hint3" class="hint">
                      <p>3 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_fifth_hint2">Ledtråd</label>
                      <input type="text" id="id_fifth_hint2" name="fifth_hint2" class="hint">
                      <p>2 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="id_fifth_hint1">Ledtråd</label>
                      <input type="text" id="id_fifth_hint1" name="fifth_hint1" class="hint">
                      <p>1 poängs ledtråd</p>
                    </div>


    </div>

    <div class="sidebar">
      <div class="publicering">
        <h1 style="background-color: #79aec8; padding: 10px; color: #fff;">Publicering</h1>
        <div class="publicering_fields">
          <label for="id_published_date"><b>Datum för publicering</b></label>
          <input type="date" id="id_published_date" name="published_date">
        </div>
        <hr>
        <div class="publicering_fields" style="display: none;">
          <label for="id_is_draft"><b>Spara som utkast</b></label>
          {{form.is_draft}}
        </div>
        <hr>
        <div class="publicering_fields">
          <input type="submit" value="Spara Quiz" id="savebutton">
          </form>
        </div>
        <hr>
      </div>
      <div class="wiki">
        <h2>Kolla om svaret finns i wikipedia</h2>
        <p>Klicka på rubrikerna för att komma till wikipedia artikeln</p>
        <input type="text" id="wikisearch">
        <div id="output"></div>
      </div>
    </div>

<script type="text/javascript">
$(".searchbox").autocomplete({
    source: function(request, response) {
        console.log(request.term);
        $.ajax({
            url: "https://sv.wikipedia.org/w/api.php",
            dataType: "jsonp",
            data: {
                'action': "opensearch",
                'format': "json",
                'search': request.term
            },
            success: function(data) {
                response(data[1]);
            }
        });
    }
});

function wikipediaLookup(data){
	document.getElementById('output').innerHTML = '';
  for(var i=0; i<8; i++){
		if(data[1][i]){
			document.getElementById('output').innerHTML += '<p><b><a href="http://sv.wikipedia.org/wiki/'+data[1][i]+'" target="_blank">'+data[1][i]+'</a></b><br>'+data[2][i]+'</p>';
		}
	}
}

var myScript = '';
document.getElementById('wikisearch').onkeyup = function(){
  if(myScript!==''){
  	document.body.removeChild(myScript);
  }
	var stuff_in_text_box = document.getElementById('wikisearch').value;
	myScript = document.createElement('script');
	myScript.src = 'https://sv.wikipedia.org/w/api.php?action=opensearch&format=json&formatversion=2&namespace=0&limit=10&suggest=true&callback=wikipediaLookup&search='+stuff_in_text_box;
	document.body.appendChild(myScript);
};
</script>


{% endblock %}
