<body>
<style>
#header {
    width: auto;
    height: 40px;
    padding: 10px 40px;
    background: #417690;
    line-height: 40px;
    color: #ffc;
    overflow: hidden;
}
#branding {
    float: left;
}
#branding h1{
  padding: 0;
  margin: 0 20px 0 0;
  font-weight: 300;
  font-size: 24px;
  color: #f5dd5d;
}
.breadcrumbs {
    background: #79aec8;
    padding: 10px 40px;
    border: none;
    font-size: 14px;
    color: #c4dce8;
    text-align: left;
}
body {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Roboto","Lucida Grande","DejaVu Sans","Bitstream Vera Sans",Verdana,Arial,sans-serif;
    color: #333;
    background: #fff;
    text-decoration: none;
}
a{
  color:inherit;
  text-decoration: none;
}
a:hover{
  opacity: 0.7;
  text-decoration: none;
}
.content{
  padding: 20px 50px;
  width: 50%;
}
</style>

<div id="header">
  <div id="branding">
    <h1 id="site-name" style="float:left;"><a href="/admin/">Duellen</a></h1>
  </div>
</div>
<div class="breadcrumbs">
    <a style="color: #fff;" href="/admin/">Home</a>
    <a>|</a>
    <a style="color: #fff;" href="{% url 'post_new' %}">Skapa ny Duell!</a>
</div>

<div class="content">

  <p><a href="{% url 'post_list' %}">Alla quiz </a> | <a href="{% url 'post_draft_list' %}"> Opublicerade quiz</a></p><br>

  {% for post in posts %}
      <div id="quizzes">
          <h2><a href="{% url 'post_detail' pk=post.pk %}">{{ post.title }}</a><span style="color: tomato;"> - Draft</span></h2>
          <p><b>Publicerad:</b> {{ post.published_date }} | <b>Skapad:</b> {{ post.created_date|date:'d-m-Y' }}</p>
            <p><b>
              <a href="{% url 'post_edit' pk=post.pk %}">Ändra</a> |
              <a href="{% url 'post_remove' pk=post.pk %}" onclick="return confirm('Är du säker på att du vill radera detta quiz?')" style="color: tomato;">Radera</a> |
              <a href="{% url 'post_publish' pk=post.pk %}" style="color: green;">Publicera</a>
            </b></p>
          <hr>
      </div>
  {% endfor %}

</div>
</body>
