{% extends "admin/base_site.html" %}

{% block content %}
<style>
.post{
  width: 70%;
  padding: 20px 40px;
}
</style>
    <div class="post">
      <h2><a href="{% url 'post_list'%}">← Tillbaka</a></h2><br><br>
      {% if post.is_draft %}
          <h2><a href="{% url 'post_publish' pk=post.pk %}" style="color: green;">Publicera</a> |
          <a href="{% url 'post_edit' pk=post.pk %}">Ändra</a> |
          <a href="{% url 'post_remove' pk=post.pk %}" onclick="return confirm('Är du säker på att du vill radera detta quiz?')" style="color: tomato;">Radera</a>
          </h2>
          <h1><b>{{ post.title }}</b></h1>
      {% else %}
          <h2><a href="{% url 'post_edit' pk=post.pk %}">Ändra</a></h2>
          <h1><br><b>{{ post.title }}</b></h1>
          <p>{{ post.published_date }}</p>
      {% endif %}

        <p>{{ post.description }}</p>

        <p><b>Bilder </b>{{post.player1_img}} {{post.player2_img}}</p>
        <br><h1>Fråga 1</h1><hr><br>
        <h2><b>{{post.first_category}}</b> {{post.first_question}}</h2>
        <p><b>5 poängs ledtråd: </b>{{post.first_hint5}}</p>
        <p><b>4 poängs ledtråd: </b>{{post.first_hint4}}</p>
        <p><b>3 poängs ledtråd: </b>{{post.first_hint3}}</p>
        <p><b>2 poängs ledtråd: </b>{{post.first_hint2}}</p>
        <p><b>1 poängs ledtråd: </b>{{post.first_hint1}}</p>
        <p><b>Svar: </b>{{post.first_answer}}</p>

        <br><h1>Fråga 2</h1><hr><br>
        <h2><b>{{post.second_category}}</b> {{post.second_question}}</h2>
        <p><b>5 poängs ledtråd: </b>{{post.second_hint5}}</p>
        <p><b>4 poängs ledtråd: </b>{{post.second_hint4}}</p>
        <p><b>3 poängs ledtråd: </b>{{post.second_hint3}}</p>
        <p><b>2 poängs ledtråd: </b>{{post.second_hint2}}</p>
        <p><b>1 poängs ledtråd: </b>{{post.second_hint1}}</p>
        <p><b>Svar: </b>{{post.second_answer}}</p>

        <br><h1>Fråga 3</h1><hr><br>
        <h2><b>{{post.third_category}}</b> {{post.third_question}}</h2>
        <p><b>5 poängs ledtråd: </b>{{post.third_hint5}}</p>
        <p><b>4 poängs ledtråd: </b>{{post.third_hint4}}</p>
        <p><b>3 poängs ledtråd: </b>{{post.third_hint3}}</p>
        <p><b>2 poängs ledtråd: </b>{{post.third_hint2}}</p>
        <p><b>1 poängs ledtråd: </b>{{post.third_hint1}}</p>
        <p><b>Svar: </b>{{post.third_answer}}</p>

        <br><h1>Fråga 4</h1><hr><br>
        <h2><b>{{post.fourth_category}}</b> {{post.fourth_question}}</h2>
        <p><b>5 poängs ledtråd: </b>{{post.fourth_hint5}}</p>
        <p><b>4 poängs ledtråd: </b>{{post.fourth_hint4}}</p>
        <p><b>3 poängs ledtråd: </b>{{post.fourth_hint3}}</p>
        <p><b>2 poängs ledtråd: </b>{{post.fourth_hint2}}</p>
        <p><b>1 poängs ledtråd: </b>{{post.fourth_hint1}}</p>
        <p><b>Svar: </b>{{post.fourth_answer}}</p>

        <br><h1>Fråga 5</h1><hr><br>
        <h2><b>{{post.fifth_category}}</b> {{post.fifth_question}}</h2>
        <p><b>5 poängs ledtråd: </b>{{post.fifth_hint5}}</p>
        <p><b>4 poängs ledtråd: </b>{{post.fifth_hint4}}</p>
        <p><b>3 poängs ledtråd: </b>{{post.fifth_hint3}}</p>
        <p><b>2 poängs ledtråd: </b>{{post.fifth_hint2}}</p>
        <p><b>1 poängs ledtråd: </b>{{post.fifth_hint1}}</p>
        <p><b>Svar: </b>{{post.fifth_answer}}</p>
    </div>
{% endblock %}
