
{% extends "admin/base_site.html" %}

{% block title %}
    Duellen - {{ block.super }}
{% endblock %}

{% block content %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.3/jquery.min.js"></script>
<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/themes/smoothness/jquery-ui.css" />
<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.11.3/jquery-ui.min.js"></script>

<style>
  body{
    background-color: #f8f8f8;
  }
  .content{
    width: 55%;
    float:left;
    background-color: #fff;
    padding: 15px;
  }

  #different_height{
    height: 170px;
  }

  #id_description{
    height: 100px;
  }

  .hint{
    height: 70px;
  }

  .fieldWrapper{
    height: 40px;
    padding: 25px 90px 25px 10px
  }

  .fieldWrapper label{
    font-weight: bold;
  }

  .fieldWrapper input, textarea{
    width: 380px;
    float: right;
    vertical-align: text-top;
  }
  .sidebar{
    width: 30%;
    right: 0;
    position: fixed;
    margin-right: 30px;
    background-color: #fff;
    padding: 20px;
  }
  .wiki{
    background-color: #f8f8f8;
  }

  .wiki h2, .wiki p{
    padding-left: 20px;
    padding-top: 10px;
  }

  #wikisearch, #output{
    margin: 20px;
  }
  .publicering input{
    margin-left: 20px;
  }
  .publicering_fields{
    padding: 15px;
  }
  #savebutton{
    float: right;
    margin-bottom: 15px;
  }

</style>


    <div class="content">

        <h1>Skapa Duellen</h1>

        <form action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}

                <div class="fieldWrapper">
                  <label for="{{ form.title.id_for_label }}">Titel</label>
                  {{ form.title }}
                  <p>Titeln för veckans duell</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="{{ form.description.id_for_label }}">Quiz Intro</label>
                  {{ form.description }}
                  <p>Kort intro text</p>
                </div>
                <div class="fieldWrapper">
                  <label for="{{ form.sponsor.id_for_label }}">Sponsor</label>
                  {{ form.sponsor }}
                  <p>Veckans sponsor</p>
                </div>
                <div class="fieldWrapper">
                  <label for="{{ form.price.id_for_label }}">Vinst</label>
                  {{ form.price }}
                  <p>Veckans vinst</p>
                </div>

                <br><h1 style="background-color: #79aec8; padding: 10px; color: #fff;"><b>Spelare</b></h1><br>

                    <div class="fieldWrapper">
                      <label for="{{ form.player1.id_for_label }}">Spelare 1</label>
                      {{ form.player1 }}
                      <p>Namn på spelare 1</p>
                    </div>

                    <div class="fieldWrapper">
                      <label for="{{ form.player1_img.id_for_label }}">Bild</label>
                      {{ form.player1_img }}
                      <p>Bild spelare 1</p>
                    </div>
                    <div class="fieldWrapper">
                      <label for="{{ form.player1_score.id_for_label }}">Poäng</label>
                      {{ form.player1_score }}
                      <p>Poäng för spelare 1</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper">
                      <label for="{{ form.player2.id_for_label }}">Spelare 2</label>
                      {{ form.player2 }}
                      <p>Namn på spelare 2</p>
                    </div>

                    <div class="fieldWrapper">
                      <label for="{{ form.player2_img.id_for_label }}">Bild</label>
                      {{ form.player2_img }}
                      <p>Bild spelare 2</p>
                    </div>
                    <div class="fieldWrapper">
                      <label for="{{ form.player2_score.id_for_label }}">Poäng</label>
                      {{ form.player2_score }}
                      <p>Poäng för spelare 2</p>
                    </div>




                <br><h1 style="background-color: #79aec8; padding: 10px; color: #fff;"><b>Fråga 1</b></h1><br>

                    <div class="fieldWrapper">
                      <label for="{{ form.first_category.id_for_label }}">Kategori</label>
                      {{ form.first_category }}
                      <p>Kategori, tex. Mat & Dryck.</p>
                    </div>
                    <hr>

                    <div class="fieldWrapper">
                      <label for="{{ form.first_question.id_for_label }}">Fråga</label>
                      {{ form.first_question }}
                      <p>Fråga, det vi söker efter. Tex En frukt.</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper">
                      <label for="{{ form.first_answer.id_for_label }}">Svar</label>
                      {{ form.first_answer }}
                      <p>Svaret på frågan.</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="{{ form.first_hint5.id_for_label }}">Ledtråd</label>
                      {{ form.first_hint5 }}
                      <p>5 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="{{ form.first_hint4.id_for_label }}">Ledtråd</label>
                      {{ form.first_hint4 }}
                      <p>4 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="{{ form.first_hint3.id_for_label }}">Ledtråd</label>
                      {{ form.first_hint3 }}
                      <p>3 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="{{ form.first_hint2.id_for_label }}">Ledtråd</label>
                      {{ form.first_hint2 }}
                      <p>2 poängs ledtråd</p>
                    </div>
                    <hr>
                    <div class="fieldWrapper" id="different_height">
                      <label for="{{ form.first_hint1.id_for_label }}">Ledtråd</label>
                      {{ form.first_hint1 }}
                      <p>1 poängs ledtråd</p>
                    </div>

                <br><h1 style="background-color: #79aec8; padding: 10px; color: #fff;"><b>Fråga 2</b></h1><br>

                <div class="fieldWrapper">
                  <label for="{{ form.second_category.id_for_label }}">Kategori</label>
                  {{ form.second_category }}
                  <p>Kategori, tex. Mat & Dryck.</p>
                </div>
                <hr>

                <div class="fieldWrapper">
                  <label for="{{ form.second_question.id_for_label }}">Fråga</label>
                  {{ form.second_question }}
                  <p>Fråga, det vi söker efter. Tex En frukt.</p>
                </div>
                <hr>
                <div class="fieldWrapper">
                  <label for="{{ form.second_answer.id_for_label }}">Svar</label>
                  {{ form.second_answer }}
                  <p>Svaret på frågan.</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="{{ form.second_hint5.id_for_label }}">Ledtråd</label>
                  {{ form.second_hint5 }}
                  <p>5 poängs ledtråd</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="{{ form.second_hint4.id_for_label }}">Ledtråd</label>
                  {{ form.second_hint4 }}
                  <p>4 poängs ledtråd</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="{{ form.second_hint3.id_for_label }}">Ledtråd</label>
                  {{ form.second_hint3 }}
                  <p>3 poängs ledtråd</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="{{ form.second_hint2.id_for_label }}">Ledtråd</label>
                  {{ form.second_hint2 }}
                  <p>2 poängs ledtråd</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="{{ form.second_hint1.id_for_label }}">Ledtråd</label>
                  {{ form.second_hint1 }}
                  <p>1 poängs ledtråd</p>
                </div>

              <br><h1 style="background-color: #79aec8; padding: 10px; color: #fff;"><b>Fråga 3</b></h1><br>

              <div class="fieldWrapper">
                <label for="{{ form.third_category.id_for_label }}">Kategori</label>
                {{ form.third_category }}
                <p>Kategori, tex. Mat & Dryck.</p>
              </div>
              <hr>

              <div class="fieldWrapper">
                <label for="{{ form.third_question.id_for_label }}">Fråga</label>
                {{ form.third_question }}
                <p>Fråga, det vi söker efter. Tex En frukt.</p>
              </div>
              <hr>
              <div class="fieldWrapper">
                <label for="{{ form.third_answer.id_for_label }}">Svar</label>
                {{ form.third_answer }}
                <p>Svaret på frågan.</p>
              </div>
              <hr>
              <div class="fieldWrapper" id="different_height">
                <label for="{{ form.third_hint5.id_for_label }}">Ledtråd</label>
                {{ form.third_hint5 }}
                <p>5 poängs ledtråd</p>
              </div>
              <hr>
              <div class="fieldWrapper" id="different_height">
                <label for="{{ form.third_hint4.id_for_label }}">Ledtråd</label>
                {{ form.third_hint4 }}
                <p>4 poängs ledtråd</p>
              </div>
              <hr>
              <div class="fieldWrapper" id="different_height">
                <label for="{{ form.third_hint3.id_for_label }}">Ledtråd</label>
                {{ form.third_hint3 }}
                <p>3 poängs ledtråd</p>
              </div>
              <hr>
              <div class="fieldWrapper" id="different_height">
                <label for="{{ form.third_hint2.id_for_label }}">Ledtråd</label>
                {{ form.third_hint2 }}
                <p>2 poängs ledtråd</p>
              </div>
              <hr>
              <div class="fieldWrapper" id="different_height">
                <label for="{{ form.third_hint1.id_for_label }}">Ledtråd</label>
                {{ form.third_hint1 }}
                <p>1 poängs ledtråd</p>
              </div>

                <br><h1 style="background-color: #79aec8; padding: 10px; color: #fff;"><b>Fråga 4</b></h1><br>

                <div class="fieldWrapper">
                  <label for="{{ form.fourth_category.id_for_label }}">Kategori</label>
                  {{ form.fourth_category }}
                  <p>Kategori, tex. Mat & Dryck.</p>
                </div>
                <hr>

                <div class="fieldWrapper">
                  <label for="{{ form.fourth_question.id_for_label }}">Fråga</label>
                  {{ form.fourth_question }}
                  <p>Fråga, det vi söker efter. Tex En frukt.</p>
                </div>
                <hr>
                <div class="fieldWrapper">
                  <label for="{{ form.fourth_answer.id_for_label }}">Svar</label>
                  {{ form.fourth_answer }}
                  <p>Svaret på frågan.</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="{{ form.fourth_hint5.id_for_label }}">Ledtråd</label>
                  {{ form.fourth_hint5 }}
                  <p>5 poängs ledtråd</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="{{ form.fourth_hint4.id_for_label }}">Ledtråd</label>
                  {{ form.fourth_hint4 }}
                  <p>4 poängs ledtråd</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="{{ form.fourth_hint3.id_for_label }}">Ledtråd</label>
                  {{ form.fourth_hint3 }}
                  <p>3 poängs ledtråd</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="{{ form.fourth_hint2.id_for_label }}">Ledtråd</label>
                  {{ form.fourth_hint2 }}
                  <p>2 poängs ledtråd</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="{{ form.fourth_hint1.id_for_label }}">Ledtråd</label>
                  {{ form.fourth_hint1 }}
                  <p>1 poängs ledtråd</p>
                </div>

                <br><h1 style="background-color: #79aec8; padding: 10px; color: #fff;"><b>Fråga 5</b></h1><br>

                <div class="fieldWrapper">
                  <label for="{{ form.fifth_category.id_for_label }}">Kategori</label>
                  {{ form.fifth_category }}
                  <p>Kategori, tex. Mat & Dryck.</p>
                </div>
                <hr>

                <div class="fieldWrapper">
                  <label for="{{ form.fifth_question.id_for_label }}">Fråga</label>
                  {{ form.fifth_question }}
                  <p>Fråga, det vi söker efter. Tex En frukt.</p>
                </div>
                <hr>
                <div class="fieldWrapper">
                  <label for="{{ form.fifth_answer.id_for_label }}">Svar</label>
                  {{ form.fifth_answer }}
                  <p>Svaret på frågan.</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="{{ form.fifth_hint5.id_for_label }}">Ledtråd</label>
                  {{ form.fifth_hint5 }}
                  <p>5 poängs ledtråd</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="{{ form.fifth_hint4.id_for_label }}">Ledtråd</label>
                  {{ form.fifth_hint4 }}
                  <p>4 poängs ledtråd</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="{{ form.fifth_hint3.id_for_label }}">Ledtråd</label>
                  {{ form.fifth_hint3 }}
                  <p>3 poängs ledtråd</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="{{ form.fifth_hint2.id_for_label }}">Ledtråd</label>
                  {{ form.fifth_hint2 }}
                  <p>2 poängs ledtråd</p>
                </div>
                <hr>
                <div class="fieldWrapper" id="different_height">
                  <label for="{{ form.fifth_hint1.id_for_label }}">Ledtråd</label>
                  {{ form.fifth_hint1 }}
                  <p>1 poängs ledtråd</p>
                </div>

    </div>

    <div class="sidebar">
      <div class="publicering">
        <h1 style="background-color: #79aec8; padding: 10px; color: #fff;">Publicering</h1>
        <div class="publicering_fields">
          <label for="id_published_date"><b>Datum för publicering</b></label>
          <input type="date" id="id_published_date" name="published_date">
        </div>
        <hr>
        <div class="publicering_fields" style="display: none;">
          <label for="id_is_draft"><b>Spara som utkast</b></label>
          {{form.is_draft}}
        </div>
        <hr>
        <div class="publicering_fields">
          <input type="submit" value="Spara Quiz" id="savebutton">
          </form>
        </div>
        <hr>
      </div>
      <div class="wiki">
        <h2>Kolla om svaret finns i wikipedia</h2>
        <p>Klicka på rubrikerna för att komma till wikipedia artikeln</p>
        <input type="text" id="wikisearch">
        <div id="output"></div>
      </div>
    </div>

<script type="text/javascript">
$(".searchbox").autocomplete({
    source: function(request, response) {
        console.log(request.term);
        $.ajax({
            url: "https://sv.wikipedia.org/w/api.php",
            dataType: "jsonp",
            data: {
                'action': "opensearch",
                'format': "json",
                'search': request.term
            },
            success: function(data) {
                response(data[1]);
            }
        });
    }
});

function wikipediaLookup(data){
	document.getElementById('output').innerHTML = '';
  for(var i=0; i<8; i++){
		if(data[1][i]){
			document.getElementById('output').innerHTML += '<p><b><a href="http://sv.wikipedia.org/wiki/'+data[1][i]+'" target="_blank">'+data[1][i]+'</a></b><br>'+data[2][i]+'</p>';
		}
	}
}

var myScript = '';
document.getElementById('wikisearch').onkeyup = function(){
  if(myScript!==''){
  	document.body.removeChild(myScript);
  }
	var stuff_in_text_box = document.getElementById('wikisearch').value;
	myScript = document.createElement('script');
	myScript.src = 'https://sv.wikipedia.org/w/api.php?action=opensearch&format=json&formatversion=2&namespace=0&limit=10&suggest=true&callback=wikipediaLookup&search='+stuff_in_text_box;
	document.body.appendChild(myScript);
};
</script>


{% endblock %}
