{% extends "admin/base.html" %}
{% block title %}
{{ title }} |
{{ site_title|default:_('Django site admin') }}
{% endblock %}
{% block branding %}

<h1 id="site-name" style="float:left;"><a href="{% url 'admin:index' %}">Duellen</a></h1>

<div class="wiki" style="float:left;">

</div>
{% endblock %}
{% block nav-global %}{% endblock %}
