{% extends "admin/base_site.html" %}
{% load i18n static %}

{% block extrastyle %}{{ block.super }}
<link rel="stylesheet" type="text/css" href="{% static "admin/css/dashboard.css" %}">
<script src="script.js"></script>
<style>
  .wiki{
    background-color: #f8f8f8;
  }
  .wiki h2{
    padding: 10px 20px 0px 20px;
  }
  #searchbox, #output{
    margin: 10px 20px 10px 20px;
  }
</style>
{% endblock %}



{% block coltype %}colMS{% endblock %}

{% block bodyclass %}{{ block.super }} dashboard{% endblock %}

{% block breadcrumbs %}{% endblock %}

{% block content %}

<div id="content-main">

<script>
  function myAmazingFunction(data){
  	document.getElementById('output').innerHTML = data;
  }
</script>

<script src="https://sv.wikipedia.org/w/api.php?action=opensearch&format=json&formatversion=2&namespace=0&limit=10&suggest=true&callback=myAmazingFunction&search="></script>

<div class="wiki">
  <h2>Kolla om svaret finns i wikipedia</h2>
  <input type="text" id="searchbox">
  <div id="output"></div>
</div>

<script>
/* this function handles the data */
function myAmazingFunction(data){
	document.getElementById('output').innerHTML = '';
  for(var i=0; i<8; i++){
		if(data[1][i]){
			document.getElementById('output').innerHTML += '<p><b><a href="http://sv.wikipedia.org/wiki/'+data[1][i]+'" target="_blank">'+data[1][i]+'</a></b><br>'+data[2][i]+'</p>';
		}
	}

}

var myScript = '';

document.getElementById('searchbox').onkeyup = function(){

  if(myScript!==''){
  	document.body.removeChild(myScript);
  }

	var stuff_in_text_box = document.getElementById('searchbox').value;

	myScript = document.createElement('script');

	myScript.src = 'https://sv.wikipedia.org/w/api.php?action=opensearch&format=json&formatversion=2&namespace=0&limit=10&suggest=true&callback=myAmazingFunction&search='+stuff_in_text_box;

	document.body.appendChild(myScript);
};
</script>

</div>
{% endblock %}


{% block sidebar %}
<div id="content-related">
    <div class="module" id="recent-actions-module">
      <h2>Skapa nytt</h2>
      <h3><a href="{% url 'post_new' %}">Skapa ny Duell!</a></h3>
      <h2>Arkiv</h2>
      <h3><a href="{% url 'post_list' %}">Ändra/Radera existerande quiz</a></h3>
      <h3><a href="{% url 'post_list' %}">Visa arkiv</a></h3>
    </div>
</div>
{% endblock %}
